# Frontend
frontend/node_modules
frontend/dist

# Backend
MicroHard/Backend/venv
MicroHard/Backend/__pycache__

# Editor
.vscode

# OS
.DS_Store
Thumbs.db

FinSight/

# Environment files
.env
frontend/.env
